---
import MainLayout from "../layouts/MainLayout.astro"
import GameBoard from "../components/five_in_a_row/GameBoard.vue"
---

<MainLayout>
  <div class="flex justify-center">
    <GameBoard client:load />
  </div>
</MainLayout>
