---
import { Image } from "astro:assets"
import profileImage from "../images/profile.jpg"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout
  class:list={["flex", "flex-grow", "justify-center", "items-center"]}
>
  <div class="lg:flex">
    <div class="lg:block flex justify-center">
      <Image
        class="rounded-full size-60 lg:size-80"
        src={profileImage}
        alt="profile"
      />
    </div>
    <div
      class="lg:ml-10 lg:content-center lg:block lg:text-left flex flex-col text-center"
    >
      <div>
        <h1>Hi, I'm Attila Dudás</h1>
        <p>a backend engineer.</p>
      </div>
      <div class="pt-5">
        <p>
          My passion is building <strong>robust</strong>, <strong
            >scalable</strong
          >, <strong>maintainable</strong> software.
        </p>
        <p>
          Bugs are crucial part of the ecosystem, but should not be part of any
          software!
        </p>
      </div>
    </div>
  </div>
</MainLayout>
