#!/bin/bash

project_dir=$(pwd)

TEST_FILES_DIR=${project_dir}/backend/components/gallery/test_files
export TEST_FILES_DIR

MIGRATIONS_DIR=${project_dir}/backend/db/migrations
export MIGRATIONS_DIR

API_MEDIA_DIR=${project_dir}/.tmp/media
export API_MEDIA_DIR
tmp_dir=$project_dir/.tmp
[ -d "$tmp_dir" ] || mkdir "$tmp_dir"

[ -d "$API_MEDIA_DIR" ] || mkdir "$API_MEDIA_DIR"
chmod -R 777 "$API_MEDIA_DIR"

public_key=$tmp_dir/public.pem
private_key=$tmp_dir/private.pem

if [ ! -f "${private_key}" ] && [ ! -f "${public_key}" ]; then
    just -f ./backend/justfile generate-keypair "$tmp_dir"
fi

if [ -f "${private_key}" ] && [ -f "${public_key}" ]; then
    API_PUBLIC_KEY=$(cat "${public_key}")
    export API_PUBLIC_KEY
    API_PRIVATE_KEY=$(cat "${private_key}")
    export API_PRIVATE_KEY
fi

[ ! -f .env ] && cp .env.example .env
dotenv
