#!/bin/bash

MIGRATIONS_DIR="$(pwd)/db/migrations"
export MIGRATIONS_DIR

API_MEDIA_DIR="$(pwd)/.tmp"
[ -d "$API_MEDIA_DIR" ] || mkdir "$API_MEDIA_DIR"
export API_MEDIA_DIR

[ -f .env ] || cp .env.example .env

dotenv