#!/bin/bash

PROJECT_DIR=$(pwd)
export PROJECT_DIR

MIGRATIONS_DIR="$PROJECT_DIR/db/migrations"
export MIGRATIONS_DIR

API_MEDIA_DIR="$PROJECT_DIR/.tmp"
[ -d "$API_MEDIA_DIR" ] || mkdir "$API_MEDIA_DIR"
export API_MEDIA_DIR

[ -f .env ] || cp .env.example .env

dotenv