---
import { Icon } from "astro-icon/components"
const today = new Date()
---

<footer class="text-center mt-5 pt-3 bg-slate-300">
  <div class="grid grid-flow-col justify-center social-links">
    <a href="https://github.com/DAtek" target="_blank" aria-label="GitHub">
      <Icon class="icon" name="github" />
    </a>
    <a
      href="https://www.linkedin.com/in/attila-dud%C3%A1s-93863a178/"
      target="_blank"
      aria-label="LinkedIn"
    >
      <Icon class="icon" name="linkedin" />
    </a>
    <a href="/rss.xml" target="_blank" aria-label="RSS">
      <Icon class="icon" name="rss" />
    </a>
  </div>
  &copy; {today.getFullYear()} Attila Dudás. All rights reserved.
</footer>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .social-links a {
      color: theme("colors.gray-light");
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
    .social-links a:hover {
      color: theme("colors.gray-dark");
    }
    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
</style>
