---
import HeaderLink from "./HeaderLink.astro"
---

<header>
  <nav>
    <div class="grid-flow-col text-center mt-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about/">About</HeaderLink>
      <HeaderLink href="/five-in-a-row/">Five in a row</HeaderLink>
    </div>
  </nav>
</header>
