@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  a {
    @apply text-active;
  }
  body {
    @apply text-pretty text-xl leading-7 text-black break-words bg-gradient-to-b from-slate-100 to-slate-200;
  }
  h1 {
    @apply text-5xl my-3;
  }
  h2 {
    @apply text-4xl my-3;
  }
  h3 {
    @apply text-3xl my-3;
  }
  h4 {
    @apply text-2xl my-3;
  }
  ul {
    @apply list-disc pl-5;
  }
  strong {
    @apply font-bold;
  }
  hr {
    @apply border-2 text-black my-1;
  }
  br {
    @apply my-1;
  }
}
