[Unit]
Description={{ app_name }} service
After=network.target

[Service]
Type=simple

User=www-data
Group=www-data

RuntimeDirectory={{ app_name }}

EnvironmentFile={{ environment_file }}

ExecStart={{ starter_script }}

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ app_name }}

Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
