---
import { Image } from "astro:assets"
import profileImage from "../images/profile.jpg"
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout
  title="Attila Dudás, fullstack developer"
  description="The landing page of Attila's site"
  class:list={["flex", "justify-center", "items-center", "flex-grow"]}
>
  <div class="xl:flex">
    <div class="xl:block flex justify-center">
      <Image
        class="rounded-full max-h-60 max-w-60 xl:max-h-80 xl:max-w-80 object-scale-down m-auto"
        src={profileImage}
        alt="profile"
      />
    </div>
    <div
      class="xl:ml-10 xl:content-center xl:block xl:text-left flex flex-col text-center"
    >
      <div>
        <h1>Hi, I'm Attila Dudás</h1>
        <p>a fullstack (fools-tech) developer.</p>
      </div>
      <div class="pt-5">
        <p class="mb-0">
          My passion is building <strong>robust</strong>, <strong
            >scalable</strong
          >, <strong>maintainable</strong> software.
        </p>
        <p>
          Bugs are crucial part of the ecosystem, but should not be part of any
          software!
        </p>
      </div>
    </div>
  </div>
</MainLayout>
